fastapi
uvicorn
python-dotenv
requests
jinja2
python-jose[cryptography]
passlib
python-multipart
sqlalchemy
pydantic
pydantic-settings
aiofiles
python-dateutil
pyjwt
cryptography
pydantic[email]
bcrypt
aiohttp
websockets
email-validator